@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../public/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy-medium';
    src: url('../public/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;